html, body {
  margin: 0;
  padding: 10;
  background: gray;
}

h1{
  text-align: center;
  font-size: 150px;
  text-transform: capitalize;
  color: white;
}

img{
  width:100vw;
  height: 110px;
  position: absolute;
}

.p1{
  top:-10px;
}

.p2{
  top:300px;
}

canvas {
  display: block;
}
